*{
  background-color: azure;
  opacity: 100%;
  font-family: 'Times New Roman', Times, serif;
}



#title {
  font-size: larger;
  text-align: center;
  font-weight: bold;
}

.page {
  background-color: azure;
}

.tickerinput {
  text-align: center;
}


#tickerlist {

  text-align: center;
  position: fixed;
  top: 157px;
  left: 100px;
  height: auto;
  width: auto;
}

.tsTableElements:nth-child(odd) {
  background-color: lightgreen;
}
.tsTableElements:nth-child(even) {
  background-color: lightcoral;
}

.tsTableElements {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
}

#tsTable{
  width: 75%;
  margin-top: 75px;
  margin-left: 300px;
  margin-right: auto;
  text-align: center;
}

#message {
  position: fixed;
  bottom: 0;
  right: 0;
}